#loading-spinner {
  animation: rotateAnimation 3s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(360deg);
  }
  85% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
