<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fantasy</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="text-center">
    <header>
      <h1 class="text-[2em]">{% block header %}Flask App{% endblock %}</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2023/12 GeekSalon. All rights reserved.</p>
    </footer>
  </body>
</html>
